html{
    align-content: center;
    background-color: black;
    min-width: 485px;
    max-width: 1300px;
    margin: auto;
}

header>h1{
text-align:center;
text-transform: capitalize;
font-size: 60px;
color: #007d7b

}
nav ul{
    background-color: black;
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
.top{
    overflow: hidden;
}
ul li{
    
    text-align: center;
    list-style-type: none;
}
li>a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: bold;
   
}

body{
    background-color: white;
}
article{
    text-align: center;
}
article>h2{
    font-size: 30px;
}
#grid{
display: grid;
margin: auto;
grid-template-rows: 1fr;
justify-content: center;

}
.Contact{
    display: grid;
    background-color: black;
    color: white;
    justify-content: center;
}

form>input{
    display:grid;
    grid-template-rows: 1fr 1fr;
    
}
footer{
    justify-content: center;
    color: white;
    background-color: black;
}
input{
    justify-content: center;
    color: #007d7b;
    font-weight: bold;
}


@media screen and (min-width: 888px){
    #grid{
        grid-template-columns: 1fr 1fr;
    }
    .Contact{
        display: grid;
        background-color: black;
        color: white;
        justify-content: center;
    }
    
    form>input{
        display:grid;
        grid-template-rows: 1fr 1fr;
        
    }
    footer{
        justify-content: center;
        color: white;
        background-color: black;
    }
    input{
        justify-content: center;
        color: #007d7b;
        font-weight: bold;
    }
    
}

