

body {
    width:485px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}




header>h1{
text-align:center;
text-transform: capitalize;
font-size: 60px;
color: #007d7b

}
nav ul{
    background-color: black;
    display: grid;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr;
}
.top{
    position:fixed;
     bottom:0px;
    right:0px;
    border-radius:10px 0 0px 0px;

}
ul li{
    
    text-align: center;
    list-style-type: none;
}
li>a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
   
}

body{
    background-color: white;
}
article{
    text-align: center;
}
article>h2{
    font-size: 30px;
}
#grid{
display: grid;
margin: auto;
grid-template-rows: 1fr;
justify-content: center;

}
.Contact{
    display: grid;
    background-color: black;
    color: white;
    justify-content: center;
}

form>input{
    display:grid;
    grid-template-rows: 1fr 1fr;
    
}
footer{
    justify-content: center;
    color: white;
    background-color: black;
}
input{
    justify-content: center;
    color: #007d7b;
    font-weight: bold;
}


@media screen and (min-width: 888px){
    #grid{
        grid-template-columns: 1fr 1fr ;
    }
    .Contact{
        display: grid;
        background-color: black;
        color: white;
        justify-content: center;
    }
    
    form>input{
        display:grid;
        grid-template-rows: 1fr 1fr;
        
    }
    footer{
        justify-content: center;
        color: white;
        background-color: black;
    }
    input{
        justify-content: center;
        color: #007d7b;
        font-weight: bold;
    }
    
}
@media screen and (min-width: 1300px){
    #grid{
        grid-template-columns: 1fr 1fr 1fr ;
        column-gap: 0;
        row-gap: 0;
        column-gap: -25px -25px -25px;
    }

}


